.navbar {
 /*margin: 0;
 padding: 0;*/
 /*box-shadow: 0px 3px 5px #888888;*/
}

.navbar ul li:last-child {
  /*border-right: 1px solid black;*/
}

.navbar ul li a {
  /*color: black;
  display: inline-block;
  border-left: 1px solid black;*/
}



.logo {
  /*width: 50px;
  margin-right: 1.5em;*/
}
/*.navbar ul li a:hover{
  background-color: black;
  color: white;
}*/
